body {
    background-image: url(images/backgrounds/pxfuel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 10%;
}


label {
    width: 100px;
    display: inline-block;
}


textarea {
    width: 171px;
    display: inline-block;
}

.navbar ul {
    list-style: none;
    background: rgba(220, 136, 211, 0.48);
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 10px 35px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}

.navbar a:hover {
    background: rgba(211, 73, 197, 1);
}

.Réseaux h2 {
    text-align: center;
}

textarea {
    resize: none;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(189, 81, 207, 0.54);
}


img {
    width: 40%
}

video {
    width: 80%;
}